@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cinza-escuro: #0d0d0d;
  --dourado: #d4af37;
  --cinza-claro: #f3f3f3;

  --fonte-elegante: "Playfair Display", serif;
  --fonte-simples: "Lato", sans-serif;
}

body {
  background-color: var(--cinza-escuro);
  color: white;
  font-family: var(--fonte-simples);
  font-weight: 300;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-family: var(--fonte-elegante);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  position: sticky;
  top: -1px;
  background-color: var(--cinza-escuro);
  z-index: 1000;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.box-da-logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nome-da-empresa {
  color: var(--dourado);
  display: none;
  font-family: var(--fonte-elegante);
}

.menu-navegacao-disabled {
  display: none;
}

/* HERO SECTION */

.hero-section {
  position: relative;
  text-align: center;
  color: white;
  min-height: 85vh;
}

.box-conteudo-textos-hero > h2 {
  font-size: 1.6rem;
  margin-bottom: 24px;
  font-family: var(--fonte-elegante);
  margin-right: 20%;
}

.box-conteudo-textos-hero > p {
  font-size: 0.9rem;
  margin-right: 30%;
}

.box-conteudo-textos-hero > a {
  display: block;
  width: fit-content;
  margin-top: 24px;
  padding: 12px 24px;
  background-color: white;
  color: var(--cinza-escuro);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.box-conteudo-textos-hero > a:hover {
  background-color: var(--dourado);
}

.hero-image {
  width: 100vw;
  height: 85vh;
  max-height: 600px;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

.hero-image-mobile {
  display: block;
}

.hero-image-desktop {
  display: none;
}

/* NOSSOS DESTQUES */

#destaques {
  padding: 24px 20px;
  text-align: start;
  background-color: white;
  scroll-margin-top: 8px;
}

.grid-destaques {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2px;
  column-gap: 4px;
  justify-content: space-between;
}

.link-produto {
  display: block;
  width: 49%;
}

.card-produto {
  background-color: var(--cinza-claro);
  margin-bottom: 24px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-produto:hover {
  transform: scale(1.005);
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.192);
}

.card-produto > img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.titulo-secao {
  font-size: 1.5rem;
  padding: 0 0 24px 0;
  color: var(--cinza-escuro);
}

.box-desc-produto {
  padding: 0 12px 12px 12px;
  text-align: center;
}

.descricao-produto {
  font-size: 0.7rem;
  margin-bottom: 16px;
  color: var(--cinza-escuro);
  opacity: 0.8;
}

.precos-do-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preco-riscado-produto {
  color: var(--cinza-escuro);
  font-size: 0.7rem;
  text-decoration: line-through;
  margin-bottom: 4px;
  opacity: 0.8;
}

.preco-produto {
  color: var(--cinza-escuro);
  font-size: 1rem;
  font-weight: bold;
}

.preco-parcelado-produto {
  color: var(--cinza-escuro);
  font-size: 0.7rem;
  margin-bottom: 8px;
  opacity: 0.8;
}

.btn-comprar-produto {
  display: block;
  width: fit-content;
  margin-top: 12px;
  padding: 8px 16px;
  background-color: white;
  color: var(--cinza-escuro);
  border: none;
  cursor: pointer;
  font-size: 0.7rem;
  border: solid 1px var(--cinza-escuro);
}

.btn-ver-catalogo {
  display: block;
  width: fit-content;
  margin: 0 auto 16px auto;
  padding: 12px 24px;
  background-color: var(--cinza-escuro);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.btn-ver-catalogo:hover {
  transform: scale(1.05);
}

/* CATEGORIAS */

.categorias {
  padding: 0 0 32px 20px;
}

.titulo-secao-categorias {
  padding: 24px 0; /* Para alinhar com o conteúdo */
  color: white;
}

.grid-categorias {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding: 0 1rem;

  /* Esconder scrollbar mas manter funcionalidade */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.grid-categorias::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.link-categoria {
  flex: 0 0 auto; /* Não encolhe nem cresce */
  width: 180px; /* Ajuste conforme necessário */
  scroll-snap-align: start;
  text-decoration: none;
  color: inherit;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.link-categoria:hover {
  transform: scale(1.02);
}

.imagem-categoria {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.nome-categoria {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: var(--cinza-escuro);
  padding: 16px 0;
  font-weight: bold;
  font-family: var(--fonte-elegante);
  background-color: white;
}

/* SOBRE */

.sobre {
  background-color: white;
  color: var(--cinza-escuro);
  padding: 24px 20px;
}

.titulo-secao-sobre {
  font-size: 1.8rem;
}

.imagem-sobre {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  margin-top: 24px;
}

.texto-sobre {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 24px;
}

.missao,
.visao,
.valores {
  margin-bottom: 16px;
}

.missao h3,
.visao h3,
.valores h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  font-family: var(--fonte-elegante);
}

.missao p,
.visao p,
.valores ul {
  font-size: 1rem;
  line-height: 1.6;
}

/* FOOTER */

footer {
  background: linear-gradient(to bottom, #181818, #000000);

  color: white;
  padding: 24px 20px;
  text-align: center;
}

.logo-final {
  height: auto;
  margin: auto;
  text-align: center;
}

.nome-da-empresa-final {
  font-size: 1rem;
  font-family: var(--fonte-elegante);
  color: var(--dourado);
}

.subtit-logo-final {
  font-size: 0.7rem;
  margin-top: 8px;
  color: var(--cinza-claro);
}

.links-rapidos {
  margin-top: 24px;
  text-align: start;
}

.links-rapidos h3 {
  margin-bottom: 12px;
}

.links-rapidos ul li {
  margin-bottom: 8px;
  font-size: 0.8em;
  opacity: 0.7;
}

.links-rapidos ul li a:hover {
  text-decoration: underline;
}

.contato {
  margin-top: 24px;
  text-align: start;
}

.contato h3 {
  margin-bottom: 12px;
}

.contato p {
  margin-bottom: 8px;
  font-size: 0.8em;
  opacity: 0.7;
}

.copy-final {
  margin-top: 24px;
  font-size: 0.6rem;
  color: var(--cinza-claro);
}

.copy-final p {
  margin-bottom: 8px;
}

.copy-final a {
  text-decoration: underline;
}

/* RESPONSIVIDADE */

@media (min-width: 601px) {
  .hero-image-mobile {
    display: none;
  }

  .hero-image-desktop {
    display: block;
  }
}

.box-conteudo-textos-hero {
  position: absolute;
  text-align: start;
  bottom: 10%;
  left: 2vw;
  margin-left: 5vw;
}

@media (min-width: 768px) {
  .nome-da-empresa {
    display: block;
  }
}
