.section-destaques {
    background-color: rgb(247, 247, 247);
    padding: 24px 10vw;
    text-align: center;
}

.titulo-secao {
    margin: 8px auto;
}

.filtro-categorias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 8px 0 24px 0;
}

.filtro-categorias-container label {
    color: black;
}

#filtro-categoria {
    padding: 8px 20px;
    border: 1px solid black;
    background: #f0f0f0;
    color: black;
    font-size: 1rem;
    font-family: inherit;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: border 0.2s;
}

#filtro-categoria:focus {
    border: 2px solid gray;
    outline: none;
}